@import url('https://fonts.googleapis.com/css?family=Georgia:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');

/*Global styles */
body {
	margin: 0;
}
h1, p {
	margin: 0;
	font-family: Roboto;
}
h1 {
	font-size: 36px; 
}
p {
	font-size: 20px;
}

/* Styles to nanigate-menu */
.nav-block {
	width: 100%;
	height: 70px;
	background: #515151;
}

.navigate {
	width: 1170px;
	height: 70px;
	margin: auto;
	text-align: center;
}

.navigate ul {
	margin: 0px;
	padding: 0px;
	padding-top: 26px;

}

.navigate li {
	display: inline;
	list-style-type: none;
	font-size: 18px;
	font-family: Georgia; 
	color: #fff;
	padding-left: 46px;
}

/* Styles to 'About me'-block */
.about-block {
	width: 100%;
	height: 583px;
	background: #eaeaea;
}
.about {
	height: 100%;
	width: 1170px;
	margin: auto;
}
.about img {
	position: absolute;
	padding-left: 15px;
	padding-top: 66px;
}
.about h1, p{
	text-align: right;
}
.about h1 {
	margin-right: 222px;
	padding-top: 148px;
}
.about p {
	padding-top: 53px;
	margin-left: auto;
	margin-right: 15px;
	width: 555px;
	text-align: justify;
}

/* Styles to 'My skills' */
.my_skills-block {
	background: #dddddd;
	width: 100%;
	height: 522px;
}
.my_skills {
	height: 100%;
	width: 1170px;
	margin: auto;
}
.my_skills h1 {
	padding-top: 88px;
	text-align: center;
	margin-bottom: 62px
}
.C {
	margin-left: 25px;
}
.CS {
	margin-left: 195px;
	margin-right: 0;
}
.HTML {
	margin-left: 195px;
}

/* Styles to 'Goals' */