@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i,900,900i');

/*Global styles */
html {
	scroll-behavior: smooth;
}
body {
	margin: 0;
}
h1, p {
	margin: 0;
	font-family: Roboto;
}
h1 {
	font-size: 36px; 
}
p {
	font-size: 20px;
}
a {
	text-decoration: none;
}
div	{
	width: 100%;
}
section {
	width: 1170px;
	height: 100%;
	margin: auto;
}

/* Styles to nanigate-menu */
.nav-block {
	height: 70px;
	background: #515151;
}

.navigate {
	text-align: center;
}

.navigate ul {
	margin: 0px;
	padding: 0px;
	padding-top: 26px;

}

.navigate li {
	display: inline;
	list-style-type: none;
	font-size: 18px;
	font-family: Roboto; 
	color: #fff;
	padding-left: 46px;
	font-weight: 400;
}

/* Styles to 'About me'-block */
.about-block {
	height: 583px;
	background: #eaeaea;
}
.about img {
	position: absolute;
	padding-left: 15px;
	padding-top: 66px;
}
.about h1, p{
	text-align: right;
}
.about h1 {
	margin-right: 222px;
	padding-top: 148px;
}
.about p {
	padding-top: 53px;
	margin-left: auto;
	margin-right: 15px;
	width: 555px;
	text-align: justify;
}

/* Styles to 'My skills' */
.my_skills-block {
	height: 522px;
	background: #dddddd;
}
.my_skills h1 {
	padding-top: 88px;
	text-align: center;
	margin-bottom: 62px
}
.C {
	margin-left: 25px;
}
.CS {
	margin-left: 195px;
}
.HTML {
	margin-left: 195px;
}

/* Styles to 'Goals' */
.goals-block {
	height: 480px;
	background: #FFFFFF;
}
.goals h1 {
	padding-top: 88px;
	text-align: center;
	margin-bottom: 62px
}
.game {
	margin-left: 50px;
}
.web {
	margin-left: 250px;
}
.data {
	margin-left: 250px;
}

/* Styles to footer */
.footer-block {
	height: 70px;
	background: #515151;
}
.vk {
	padding-top: 26px;
	padding-left: 524px;	
}
.telegram {
	padding-top: 28px;
	padding-left: 72px;
}

/* Styles to memes */
.memesCard-block {
	height: 600px;
	background: #FFFFFF;
}
.one_for_all section {
	width: 370px;
	height: 600px;
	background: red;
	display: inline-block;
}
.one_for_all img {
	width: 370px;
	height: 600px;
}
.memes_one {
	margin: 0;
	margin-right: 26px; 
}
.memes_two {
	margin: 0;
	margin-right: 26px;	
}
.memes_three {
	margin: 0;

}

/* Styles for drinks */
.table {
	margin-top: 60px;
	text-align: center;
	align-items:center;
}
.table table {
	margin:auto;
	margin-top: 60px;
	font-family: Roboto;
	font-weight: 20px;
	width: 1170px;
	text-align: left;
	border-collapse: collapse;
	border: 2px solid grey;
}
.table th, td {
	padding: 10px 5px;
	border: 1px solid grey;
}
.c1 {
	width: 130px;
}
.c2 {
	width: 200px;
	text-align: center;
}
.c3 {

}
.s1	{
	text-align: center;
}

